{% extends 'base.html.twig' %}

{% block title %}Features{% endblock %}


{% block header %}
    {% include 'inc/header.html.twig' %}
{% endblock %}

{% block body %}
<div class="featurespage">
</div>

{% endblock %}


    {% block footer %}
        {% include 'inc/footer.html.twig' %}
    {% endblock %}